{% extends "auctions/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}
    <h2>Create a new listing</h2>

        
    <form action=create method="post">
        {% csrf_token %}
        
        {{form}}
        <label>Starting Bid:</label>
        <input type="number" name="startingbid" min="0" />
        <label>Image URL:</label>
        <input id="id_image" type="text" name="image">
        {% if user.is_authenticated %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <input class="btn btn-primary" style="width:8rem; margin:1rem;" type="submit" value="Submit" />
        </div>
        
        {% endif %}

    </form>

{% endblock %}